.grid {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  gap: 0px;
  justify-items: center;
}

/* .grid { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
} */

