.left-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  text-align: center;
  float: left;
  background: #eeeeee;
  border-right: #cccccc 1px solid;
  border-left: #cccccc 1px solid;
  padding: 40px;
  margin-right: 20px;
}

h1,h4 {
  padding: 0;
  margin: 0;
}

.left-nav ul li {
  margin: 8px 0;
  color: blue;
}

input {
  font-size: 18px;
  width: 9em;
}

a {
  text-decoration: none;
}